.header {
  margin: 100px auto 100px;
}

.text {
  margin-bottom: 170px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 220px;
}

.secondHeader {
  margin-bottom: 100px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-bottom: 100px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 190px;
}
