.card {
  font-family: Norwester;
  width: 100%;
  background: #171820;
  border-radius: 16px;
  padding: 26px 26px 20px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 50px 70px;
}

.heading {
  border-bottom: 0.8px solid #bfbfbf;
  margin-bottom: 25px;
}

.textContainer {
  text-align: center;
}

.img {
  max-width: 500px;
}

@media only screen and (max-width: 769px) {
  .card {
    padding: 10px 5px;
    gap: 20px;
  }
  .img {
    width: 100%;
  }
}
