.header {
  margin: 100px 51px auto;
}
.locationInfo {
  margin-bottom: 200px;
}

.info {
  display: flex;
  gap: 200px;
  width: 100%;
  margin-bottom: 110px;
}

.left {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.mapContainer {
  margin: auto;
  width: 90%;
  height: 500px;
  margin-bottom: 100px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 190px;
}
