.header {
  margin: 100px auto 100px;
}

.photoCard {
  margin-bottom: 100px;
}

.video {
  margin: 165px auto;
  margin-bottom: 100px;
}

.text {
  margin-bottom: 50px;
}

.contact {
  margin-bottom: 100px;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 190px;
}
